{% extends 'base.html.twig' %}


        


{% block body %}
{% block header %}

    
{% endblock %}

<div class=" mt-4 p-4 w-80 rounded">
    
    <div class="container bg-light shadow p-3 mb-5 bg-white rounded">
        <table class="table table-responsive ">
            <thead class="thead-dark">
                <tr> 
                    <th scope="col">Date de création</th>
                    <th scope="col">Satut</th>  
                    <th scope="col">Titre</th>
                    <th scope="col">description</th>
                    <th scope="col">ville</th>  
                    <th scope="col">coordonnées</th>   
                </tr>
            </thead>
            <tbody> 
        {% for cards in usercards %}
                <tr>
                   
                    <td>{{ cards.createdAt | date('Y-m-d')}}</td>
                    <td>{{ cards.statuscard }}</td>
                    <td>{{ cards.titre }}</td>
                    <td>{{ cards.description }}</td>
                    <td>{{ cards.ville }}</td>
                    <td>{{ cards.email }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
           {% if usercards is empty %}
                <p>pas de candidature en cours</p>
            {% endif %}
    <div class="">
        <a href="{{'synthese/user_data_download'}}" class="btn btn-info btn-lg active" role="button" aria-pressed="true">Télecharger</a>
       
    </div> 
    </div> 
           
</div>
 </div>  
{% endblock %}
