{% extends 'base.html.twig' %}

{% block header %}
        <!-- Entete global-->
        <div class="bg_jaune text-center text-lg-start">
    
            <!-- container entete -->
            <div class="container p-4">

                <div class="row flex">

                    <!--Logo-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">                    
                        <img class="logo_base"src="{{ asset('img/logo.png') }}" alt="logo">                        
                    </div> <!-- Fin logo-->
                
                    <!--Nom du site-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">                   
                        <h1 class="">JoBoardSearch</h1>
                    </div> <!-- FIN Grid column nom du site-->
                    
                    <!--slogan-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">                    
                        <h5 class="">slogan: bla bla bla</h5>
                   </div> <!-- Fin slogan-->

                </div> <!--Fin row-->      
            </div> <!-- Fin container entete-->                
        </div> <!-- Fin entete global -->

    <!-- barre de avigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg_gris">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                Menu
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                       <a class="nav-link" href="{{ path('cards') }}">Tableau de bord <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('cards_synthese') }}">Récapitulatif</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Notification</a>
                    </li>
                </ul>
                <li class="nav-item dropdown form-inline pr-5 my-lg-0">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mon compte
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <a class="dropdown-item" href="{{ path('utilisateur') }}">Profil</a>
                    <a class="dropdown-item" href="#">cv</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('app_logout') }}"> Déconnexion</a>
                    
                    </div>
                </li>
            </div>
        </nav>
{% endblock %}
        
{% block title %}Hello CardsController!{% endblock %}

{% block body %}


<div class="w-100 p-5 rounded">
    <div class="pb-2">
        <a href="{{'synthese/user_data_download'}}" class="btn btn-info btn-lg active" role="button" aria-pressed="true">Télecharger</a>
       
    </div>
    <div class="">
        <table class="table">
            <thead class="thead-dark">
                <tr> 
                    <th scope="col">Date de création</th>  
                    <th scope="col">Titre</th>
                    <th scope="col">description</th>
                    <th scope="col">ville</th>
                    <th scope="col">Lien</th>
                    <th scope="col">coordonnées</th>   
                </tr>
            </thead>
            <tbody> 
        {% for cards in usercards %}
                <tr>
                   
                    <td>{{ cards.createdAt | date('Y-m-d')}}</td>
                    <td>{{ cards.titre }}</td>
                    <td>{{ cards.description }}</td>
                    <td>{{ cards.ville }}</td>
                    <td>{{ cards.url }}</td>
                    <td>{{ cards.email }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
           {% if usercards is empty %}
                <p>pas de candidature en cours</p>
            {% endif %}

    </div>            
</div>
{% endblock %}
