{% extends 'base.html.twig' %}

{%block header %}
     <!-- Entete global-->
        <div class="bg_jaune text-center text-lg-start p-4">
    
            <!-- container entete -->
            <div class="container p-4">

                <div class="row flex">

                    <!--Logo-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">                    
                        <img class="logo" src="{{ asset('img/logo.png') }}" alt="logo">                        
                    </div> <!-- Fin logo-->
                
                    <!--Nom du site-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">                   
                        <h1 class="">JoBoardSearch</h1>
                    </div> <!-- FIN Grid column nom du site-->
                    
                    <!--slogan-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">                    
                        <h5 class="">slogan: bla bla bla</h5>
                   </div> <!-- Fin slogan-->

                </div> <!--Fin row-->      
            </div> <!-- Fin container entete-->                
        </div> <!-- Fin entete global -->
{% endblock %}

{% block title %}Formulaire d'inscription{% endblock %}

{% block body %}
 
   

    <div class="container register min-vh-100">  
   {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
<a class="mt-2 p-2 button button-gradient-alt" href="{{ path('accueil') }}"> Retour à l'accueil</a>
    					<div class="row">
                         
						    <div class="col-md-6 register-left">
							    <img src="{{ asset('img/cadenas.png') }}" alt="logo cadenas"/>
							    <h3>Bienvenue</h3>
							    <p>remplissez les informations necessaires et accédez à votre espace Joboard!</p>
						    </div>
						    <div class="col-md-6 register-right">
							
							    <div class="tab-content" id="myTabContent">
								    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
									    <h3 class="register-heading">Inscription JoboardSearch</h3>
									    <div class="row register-form">
                                            {{ form_start(registrationForm) }}
										    <div class="col-md-9 align-center">
											
											    <div class="row">

													<div class=" form-group p-2 ">{{form_row(registrationForm.sexe )}} </div>    
											        <div class=" form-group p-2 "> {{form_row(registrationForm.nom, {'attr': {'class':'form-control'}})}} </div>
											        <div class="form-group p-2"> {{ form_row(registrationForm.prenom, {'attr': {'class':'form-control'}})}}</div>
											        
                                                    <div class="form-group p-2">
												    {{form_row(registrationForm.email, {'attr': {'class':'form-control'}})}}
                                                    </div>
											    
											        <div class="form-group p-2">
												    {{ form_row(registrationForm.plainPassword,{'attr': {'class':'form-control'}}, {label: 'Password', }) }} 
                                                    </div>
											    
										        </div>
                                                <div class="form-group ">
												    {{ form_row(registrationForm.agreeTerms) }}
											    </div>
											 
										    <input type="submit" class="btnRegister"  value="Valider"/>
										    
                                        {{ form_end(registrationForm) }}
											
											
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
	
        
  
           
    </div>
{% endblock %}
