{% extends 'base.html.twig' %}
       {% block header %}
        <!-- Entete global-->
        <div class="bg_jaune text-center text-lg-start">
    
            <!-- container entete -->
            <div class="container p-4">

                <div class="row flex">

                    <!--Logo-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">                    
                        <img class="logo_base"src="{{ asset('img/logo.png') }}" alt="logo">                        
                    </div> <!-- Fin logo-->
                
                    <!--Nom du site-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">                   
                        <h1 class="">JoBoardSearch</h1>
                    </div> <!-- FIN Grid column nom du site-->
                    
                    <!--slogan-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">                    
                        <h5 class="">slogan: bla bla bla</h5>
                   </div> <!-- Fin slogan-->

                </div> <!--Fin row-->      
            </div> <!-- Fin container entete-->                
        </div> <!-- Fin entete global -->

    <!-- barre de avigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg_gris">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                Menu
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                       <a class="nav-link" href="{{ path('cards') }}">Tableau de bord <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('cards_synthese') }}">Récapitulatif</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Notification</a>
                    </li>
                </ul>
                <li class="nav-item dropdown form-inline pr-5 my-lg-0">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mon compte
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <a class="dropdown-item" href="{{ path('utilisateur') }}">Profil</a>
                    <a class="dropdown-item" href="#">cv</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('app_logout') }}"> Déconnexion</a>
                    
                    </div>
                </li>
            </div>
        </nav>
        {% endblock %}
        
{% block title %}Hello CardsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



    <div class="text-center">
        <h1>Mes candidatures ! ✅</h1>
    </div>
    <hr>
    <hr>
    <div class="tabindex tabindexcard" tabindex="-1" role="group" style="outline: none;">

        <div class="dashboardBody row">
            <div class="col-md-3">
                
                <div class="dashboardColumn brouillon card choice">
                    <div class="dashboardColumnTitle">
                        <span>
                            <i class=""></i> Je vais postuler 
                            <span class="dashboardCandidatureCount">(0)</span>
                        </span>
                    </div>
                    
                    <div type="0" class="newCandidatureButton"><strong>+</strong><a href="{{('card/new/1') }}">Ajouter une candidature</a></div>
                        <div class="dashboardColumnContainer">  
                         
                            {% for cards in vapostuler %} 
                            <div class="dashboardCards cards card" >
                              <ul draggable="true">
                                <p class="card-header">{{cards.titre}}</p>  
                                <p class="card-text">{{cards.description}}</p>
                                <p class="card-text">Contact: {{cards.email}}</p>
                                <p class="card-text">tel: {{cards.telephone}}</p>
                                <footer class="blockquote-footer">{{cards.ville}}</footer>
                                <a href="{{ path('card_show',{id: cards.id}) }}" class="btn btn-light mt-2">Voi plus</a>
                              </ul>
                            </div>
                            {% endfor %}
                        </div>              
                    </div>
                </div>

            <div class="col-md-3">
                <div class="choice dashboardColumn candidature">
                    <div class="dashboardColumnTitle">
                         <span>
                            <i class=""></i> J'ai postulé 
                            <span class="dashboardCandidatureCount">(0)</span>
                        </span>
                    </div>
                    <div type="1" class="newCandidatureButton"><strong>+</strong><a href="{{('card/new/2') }}">Ajouter une candidature</a></div>

                        <div class="dashboardColumnContainer">
                            {% for cards in postuler %} 
                            <div class="dashboardCards cards card" >
                              <ul draggable="true">
                                <p class="card-header">{{cards.titre}}</p>  
                                <p class="card-text">{{cards.description}}</p>
                                <p class="card-text">Contact: {{cards.email}}</p>
                                <p class="card-text">tel: {{cards.telephone}}</p>
                                <footer class="blockquote-footer">{{cards.ville}}</footer>
                                <a href="{{ path('card_show',{id: cards.id}) }}" class="btn btn-light mt-2">Voi plus</a>
                              </ul>
                            </div>
                            {% endfor %}
                        
                        </div>
                    </div>
            </div>

                <div class="col-md-3">

                    <div class=" choice dashboardColumn relance">
                        <div class="dashboardColumnTitle">
                            <span>
                                <i class=""></i> J'ai relancé 
                                <span class="dashboardCandidatureCount">(0)</span>
                            </span>
                        </div>
                        <div type="2" class="newCandidatureButton"><strong>+</strong><a href="{{('card/new/3') }}">Ajouter une candidature</a></div>
                        <div class="dashboardColumnContainer">
                            {% for cards in relancer %} 
                            <div class="dashboardCards cards card" >
                              <ul draggable="true">
                                <p class="card-header">{{cards.titre}}</p>  
                                <p class="card-text">{{cards.description}}</p>
                                <p class="card-text">Contact: {{cards.email}}</p>
                                <p class="card-text">tel: {{cards.telephone}}</p>
                                <footer class="blockquote-footer">{{cards.ville}}</footer>
                                <a href="{{ path('card_show',{id: cards.id}) }}" class="btn btn-light mt-2">Voi plus</a>
                              </ul>
                            </div>
                            {% endfor %}
                        
                        </div>
                    </div>
                </div>

            <div class="col-md-3">
                <div class="choice dashboardColumn entretien">
                    <div class="dashboardColumnTitle">
                        <span>
                        <i class=""></i> La rencontre du Boss<span class="dashboardCandidatureCount">(0)</span>
                        </span>
                    </div>
                    <div type="3" class="newCandidatureButton"><strong>+</strong><a href="{{('card/new/4') }}">Ajouter une candidature</a></div>
                    <div class="dashboardColumnContainer">
                            {% for cards in entretien %} 
                            <div class="dashboardCards cards card" >
                              <ul draggable="true">
                                <p class="card-header">{{cards.titre}}</p>  
                                <p class="card-text">{{cards.description}}</p>
                                <p class="card-text">Contact: {{cards.email}}</p>
                                <p class="card-text">tel: {{cards.telephone}}</p>
                                <footer class="blockquote-footer">{{cards.ville}}</footer>
                                <a href="{{ path('card_show',{id: cards.id}) }}" class="btn btn-light mt-2">Voi plus</a>
                              </ul>
                            </div>
                            {% endfor %}
                    </div>
                </div>
            </div>
                
        </div>
    </div>


{% endblock %}
