{% extends 'base.html.twig' %}

{% block stylesheets %} 
 <link rel="stylesheet" href="{{asset('css/cards-style.css')}}">
{% endblock %}   


{% block javascripts %}
<script src="{{asset('js/app.js')}}"> </script>
{% endblock %}


{% block body %}

<div class="text-center p-2 mb-4">
        <h1>Mes candidatures !</h1>
</div>
    
 <section class="container-fluid">   
    <div class="tabindex tabindexcard" tabindex="-1" role="group" style="outline: none;">

        <div class="dashboardBody row" data-status-number='1'>
            <div class="col-md-3">
                <div class="dashboardColumn brouillon card choice dashboardColumnContainer" data-status-number='1'>
                    <div class="dashboardColumnTitle dashboardColumnContainer" data-status-number='1'>
                        <span>
                            <i class="">Je vais me lancer,</i>
                            <span class="dashboardCandidatureCount"></span>
                        </span>
                        <p>la partie commence.</p>
                    </div>
                    
                    <div type="0" class="newCandidatureButton"><strong>+</strong><a href="{{('card/new/1') }}">Ajouter une candidature</a></div>
                        <div class="dashboardColumnContainer" data-status-number='1'>  
                         
                            {% for cards in vapostuler %} 
                            <div class="dashboardCards cards dashboardColumnContainer" data-status-number='1' >
                              <ul draggable="true" data-card-id="{{cards.id}}" class=" list-group-flush card rounded " data-status-number='1' >
                                <li class="card-header font-weight-bold">{{cards.titre}}</li>  
                                <li class="list-group-item font-italic text-center">{{cards.description}}</li>
                                <li class="list-group-item text-center "> {{cards.email}}</li>   
                                <li class=" text-uppercase text-center">{{cards.ville}}</li>
                                <a href="{{ path('card_show',{id: cards.id}) }}" class="btn btn-light mt-2">Voir plus</a>
                              </ul>
                            </div>
                            {% endfor %}
                        </div>              
                    </div>
                </div>

            <div class="col-md-3">
                <div class="choice dashboardColumn candidature dashboardColumnContainer" data-status-number='2'>
                    <div class="dashboardColumnTitle dashboardColumnContainer" data-status-number='2'>
                         <span>
                            <i class="">J'ai postulé,</i> 
                            <span class="dashboardCandidatureCount"></span>
                        </span>
                        <p>à moi de jouer.</p>
                    </div>
                    <div type="1" class="newCandidatureButton"><strong>+</strong><a href="{{('card/new/2') }}">Ajouter une candidature</a></div>
                        <div class="dashboardColumnContainer" data-status-number='2'>
                            {% for cards in postuler %} 
                            <div class="dashboardCards cards dashboardColumnContainer" data-status-number='2' >
         

                              <ul draggable="true" data-card-id="{{cards.id}}" class="list-group-flush card rounded " data-status-number='2'>
                                <li class="card-header font-weight-bold">{{cards.titre}}</li>  
                                <li class="list-group-item font-italic text-center">{{cards.description}}</li>
                                <li class="list-group-item text-center "> {{cards.email}}</li>   
                                <li class=" text-uppercase text-center">{{cards.ville}}</li>
                                <a href="{{ path('card_show',{id: cards.id}) }}" class="btn btn-light mt-2">Voir plus</a>
                              </ul>
                            </div>
                            {% endfor %}
                        
                        </div>
                    </div>
            </div>

                <div class="col-md-3 dashboardColumnContainer">
                    <div class=" choice dashboardColumn relance dashboardColumnContainer" data-status-number='3'>
                        <div class="dashboardColumnTitle dashboardColumnContainer" data-status-number='3'>
                            <span>
                                <i class="">J'ai encore un vie!</i> 
                                <span class="dashboardCandidatureCount"></span>
                            </span>
                            <p>Je relance la partie.</p>
                        </div>
                        <div type="2" class="newCandidatureButton"><strong>+</strong><a href="{{('card/new/3') }}">Ajouter une candidature</a></div>
                        <div  class="dashboardColumnContainer" data-status-number='3'>
                            {% for cards in relancer %} 
                            <div class="dashboardCards cards dashboardColumnContainer" data-status-number='3'>
                              <ul draggable="true" data-card-id="{{cards.id}}" class="list-group-flush card rounded " data-status-number='3'>
                                 <li class="card-header font-weight-bold">{{cards.titre}}</li>  
                                <li class="list-group-item font-italic text-center">{{cards.description}}</li>
                                <li class="list-group-item text-center "> {{cards.email}}</li>   
                                <li class=" text-uppercase text-center">{{cards.ville}}</li>
                                <a href="{{ path('card_show',{id: cards.id}) }}" class="btn btn-light mt-2">Voir plus</a>
                              </ul>
                            </div>
                            {% endfor %}
                        
                        </div>
                    </div>
                </div>

            <div class="col-md-3 dashboardColumnContainer">
                <div class="choice dashboardColumn entretien dashboardColumnContainer" data-status-number='4'>
                    <div class="dashboardColumnTitle dashboardColumnContainer"  data-status-number='4'>
                        <span>
                        <i class="">Dernier level,</i>
                        
                        </span>
                        <p>la rencontre du Boss.</p>
                    </div>
                    <div type="3" class="newCandidatureButton"><strong>+</strong><a href="{{('card/new/4') }}">Ajouter une candidature</a></div>
                    <div  class="dashboardColumnContainer" data-status-number='4'>
                            {% for cards in entretien %} 
                            <div class="dashboardCards cards dashboardColumnContainer" data-status-number='4'>
                              <ul draggable="true" data-card-id="{{cards.id}}" class="list-group-flush card rounded " data-status-number='4'>
                                <li class="card-header font-weight-bold">{{cards.titre}}</li>  
                                <li class="list-group-item font-italic text-center">{{cards.description}}</li>
                                <li class="list-group-item text-center "> {{cards.email}}</li>   
                                <li class=" text-uppercase text-center">{{cards.ville}}</li>
                                <a href="{{ path('card_show',{id: cards.id}) }}" class="btn btn-light mt-2">Voir plus</a>
                              </ul>
                            </div>
                            {% endfor %}
                    </div>
                </div>
            </div>
                
        </div>
    </div>
</section>

{% endblock %}
