{% extends 'base.html.twig' %}

{% block title %}Hello CardsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



    <div class="text-center">
        <h1>Mes candidatures ! ✅</h1>
    </div>
    <hr>
    <hr>
    <div class="tabindex" tabindex="-1" role="group" style="outline: none;">

        <div class="dashboardBody row" data-status-number='1'>
            <div class="col-md-3">
                <div class="dashboardColumn brouillon card choice dashboardColumnContainer" data-status-number='1'>
                    <div class="dashboardColumnTitle dashboardColumnContainer" data-status-number='1'>
                        <span>
                            <i class=""></i> Je vais postuler 
                            <span class="dashboardCandidatureCount">(0)</span>
                        </span>
                    </div>
                    
                    <div type="0" class="newCandidatureButton"><strong>+</strong><a href="{{('card/new/1') }}">Ajouter une candidature</a></div>
                        <div class="dashboardColumnContainer" data-status-number='1'>  
                         
                            {% for cards in vapostuler %} 
                            <div class="dashboardCards cards card" data-status-number='1'>
                              <ul draggable="true" data-card-id="{{cards.id}}" data-status-number='1'>
                                <p class="card-header">{{cards.titre}}</p>  
                                <p class="card-text">{{cards.description}}</p>
                                <p class="card-text">Contact: {{cards.email}}</p>
                                <p class="card-text">tel: {{cards.telephone}}</p>
                                <footer class="blockquote-footer">{{cards.ville}}</footer>
                                <a href="{{ path('card_show',{id: cards.id}) }}" class="btn btn-light mt-2">Voi plus</a>
                              </ul>
                            </div>
                            {% endfor %}
                        </div>              
                    </div>
                </div>

            <div class="col-md-3">
                <div class="choice dashboardColumn candidature dashboardColumnContainer" data-status-number='2'>
                    <div class="dashboardColumnTitle dashboardColumnContainer" data-status-number='2'>
                         <span>
                            <i class=""></i> J'ai postulé 
                            <span class="dashboardCandidatureCount">(0)</span>
                        </span>
                    </div>
                    <div type="1" class="newCandidatureButton"><strong>+</strong><a href="{{('card/new/2') }}">Ajouter une candidature</a></div>
                        <div class="dashboardColumnContainer" data-status-number='2'>
                            {% for cards in postuler %} 
                            <div class="dashboardCards cards card" data-status-number='2' >
                              <ul draggable="true" data-card-id="{{cards.id}}" data-status-number='2'>
                                <p class="card-header">{{cards.titre}}</p>  
                                <p class="card-text">{{cards.description}}</p>
                                <p class="card-text">Contact: {{cards.email}}</p>
                                <p class="card-text">tel: {{cards.telephone}}</p>
                                <footer class="blockquote-footer">{{cards.ville}}</footer>
                                <a href="{{ path('card_show',{id: cards.id}) }}" class="btn btn-light mt-2">Voi plus</a>
                              </ul>
                            </div>
                            {% endfor %}
                        
                        </div>
                    </div>
            </div>

                <div class="col-md-3 dashboardColumnContainer">
                    <div class=" choice dashboardColumn relance dashboardColumnContainer" data-status-number='3'>
                        <div class="dashboardColumnTitle dashboardColumnContainer" data-status-number='3'>
                            <span>
                                <i class=""></i> J'ai relancé 
                                <span class="dashboardCandidatureCount">(0)</span>
                            </span>
                        </div>
                        <div type="2" class="newCandidatureButton"><strong>+</strong><a href="{{('card/new/3') }}">Ajouter une candidature</a></div>
                        <div  class="dashboardColumnContainer" data-status-number='3'>
                            {% for cards in relancer %} 
                            <div class="dashboardCards cards card" data-status-number='3'>
                              <ul draggable="true" data-card-id="{{cards.id}}" data-status-number='3'>
                                <p class="card-header">{{cards.titre}}</p>  
                                <p class="card-text">{{cards.description}}</p>
                                <p class="card-text">Contact: {{cards.email}}</p>
                                <p class="card-text">tel: {{cards.telephone}}</p>
                                <footer class="blockquote-footer">{{cards.ville}}</footer>
                                <a href="{{ path('card_show',{id: cards.id}) }}" class="btn btn-light mt-2">Voi plus</a>
                              </ul>
                            </div>
                            {% endfor %}
                        
                        </div>
                    </div>
                </div>

            <div class="col-md-3 dashboardColumnContainer">
                <div class="choice dashboardColumn entretien dashboardColumnContainer" data-status-number='4'>
                    <div class="dashboardColumnTitle dashboardColumnContainer"  data-status-number='4'>
                        <span>
                        <i class=""></i> La rencontre du Boss<span class="dashboardCandidatureCount">(0)</span>
                        </span>
                    </div>
                    <div type="3" class="newCandidatureButton"><strong>+</strong><a href="{{('card/new/4') }}">Ajouter une candidature</a></div>
                    <div  class="dashboardColumnContainer" data-status-number='4'>
                            {% for cards in entretien %} 
                            <div class="dashboardCards cards card" data-status-number='4'>
                              <ul draggable="true" data-card-id="{{cards.id}}" data-status-number='4'>
                                <p class="card-header">{{cards.titre}}</p>  
                                <p class="card-text">{{cards.description}}</p>
                                <p class="card-text">Contact: {{cards.email}}</p>
                                <p class="card-text">tel: {{cards.telephone}}</p>
                                <footer class="blockquote-footer">{{cards.ville}}</footer>
                                <a href="{{ path('card_show',{id: cards.id}) }}" class="btn btn-light mt-2">Voi plus</a>
                              </ul>
                            </div>
                            {% endfor %}
                    </div>
                </div>
            </div>
                
        </div>
    </div>


{% endblock %}
