
  

    <div class="container register ">  
  

    		<div class="row">
						<div class="col-md-6 register-left">
							    <img src="{{ asset('img/writing.svg') }}" alt="logo cadenas"/>
							    
							    <p>Vous pouvez modifier une partie ou l'ensemble des informations et choisir également un nouveau statut</p>
								<p>Vous pouvez également supprimer cette candidature.</p>
								 {{ include('card/_delete_form.html.twig') }}
						</div>
						<div class="col-md-6 register-right">
							
							<div class="tab-content" id="myTabContent">
								    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
									    <h3 class="register-heading">Modifiez cette offre</h3>
									    <div class="row register-form">
										 <div class="container">
                                            {{ form_start(form) }}
										    <div class="col-md-9 align-center">
											
											    <div class="row">

													<div class="  form-group p-2 ">{{form_row(form.titre, {'attr': {'class':'form-control'}}) }} </div> 
            
											        <div class=" form-group p-2 "> {{form_row(form.description, {'attr': {'class':'form-control'}} )}} </div>
											        <div class="form-group p-2"> {{ form_row(form.ville, {'attr': {'class':'form-control'}} )}}</div>
											        <div class="form-group p-2">
												    {{form_row(form.telephone, {'attr': {'class':'form-control'}})}}
                                                    </div>
                                                    <div class="form-group p-2">
												    {{form_row(form.email, {'attr': {'class':'form-control'}})}}
                                                    </div>
											        <div class="form-group p-2">
												    {{ form_row(form.url, {'attr': {'class':'form-control'}} )}}
                                                    </div>
                                                    <div class="form-group p-2">
												    {{ form_row(form.status_card, {'attr': {'class':'form-control'}} )}}
                                                    </div>

                                        
										        </div>
                                               
										    <button class="btnRegister">{{ button_label|default('Modifier') }}</button>
										    
                                        {{ form_end(form) }}
										</div>	
											
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
	
        </div>
  
    



