{% extends 'base.html.twig' %}


{% block body %}

<div class="container-fluid">

<h1 class="text-center">Votre candidature</h1>
<a href=" {{ path('cards') }} " class="button button-gradient">retour</a>
<section class="container bg-light rounded p-2 ">
    
  
    <table class="table border ">
        <tbody>
            <tr class="table-danger">
                <th>réference candidature</th>
                <td>{{ card.id }}</td>
            </tr>
            <tr class="table-warning">
                <th>Status_card</th>
                <td>{{ card.statusCard }}</td>
            </tr>
            <tr class="table-secondary">
                <th>Titre</th>
                <td>{{ card.titre }}</td>
            </tr>
            <tr class="table-secondary" >
                <th>Description</th>
                <td>{{ card.description }}</td>
            </tr>
            <tr class="table-secondary" >
                <th>Ville</th>
                <td>{{ card.ville }}</td>
            </tr>
            <tr class="table-secondary">
                <th>Telephone</th>
                <td>{{ card.telephone }}</td>
            </tr>
            <tr class="table-secondary">
                <th>Email</th>
                <td>{{ card.email }}</td>
            </tr>
            <tr class="table-info">
                <th>Date de création</th>
                <td>{{ card.createdAt ? card.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            
        </tbody>
    </table>

  

    <a href="{{ path('card_edit', {'id': card.id}) }}" class="button button-gradient">modifier</a>
                                    
                               
  
</section>
</div>
{% endblock %}
