{% extends 'base.html.twig' %}


{% block body %}

<div class="container-fluid">

<h1 class="text-center">Votre candidature</h1>
 <div class="p-2">
    <a href=" {{ path('cards') }} " class="button button-gradient-alt ">retour</a>
  </div>
<section class="container bg-light rounded p-2 pb-2">
  
    <table class="table border ">
        <tbody>
            <tr class="table-danger">
                <th>Réference candidature</th>
                <td>{{ card.id }}</td>
            </tr>
            <tr class="table-warning">
                <th>Statut</th>
                <td>{{ card.statusCard }}</td>
            </tr>
            <tr class="table-secondary">
                <th>Titre</th>
                <td>{{ card.titre }}</td>
            </tr>
            <tr class="table-secondary" >
                <th>Description</th>
                <td>{{ card.description }}</td>
            </tr>
            <tr class="table-secondary" >
                <th>Lien de l'offre</th>
                <td>{{ card.url }}</td>
            </tr>
            <tr class="table-secondary" >
                <th>Ville</th>
                <td>{{ card.ville }}</td>
            </tr>
            <tr class="table-secondary">
                <th>Telephone</th>
                <td>{{ card.telephone }}</td>
            </tr>
            <tr class="table-secondary">
                <th>Email</th>
                <td>{{ card.email }}</td>
            </tr>
            <tr class="table-info">
                <th>Date de création</th>
                <td>{{ card.createdAt ? card.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            
        </tbody>
         
    </table>
    <div class="d-flex justify-content-center">
         <a href="{{ path('card_edit', {'id': card.id}) }}" class="button button-gradient">modifier</a>
    </div>
   
                                    
                               
  
</section>
</div>
{% endblock %}
