{% extends 'base.html.twig' %}

{% block title %}Card{% endblock %}

{% block body %}

<div class="container-fluid">
{% block header %}
        <!-- Entete global-->
        <div class="bg_jaune text-center text-lg-start">
    
            <!-- container entete -->
            <div class="container p-4">

                <div class="row flex">

                    <!--Logo-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">                    
                        <img class="logo_base"src="{{ asset('img/logo.svg') }}" alt="logo">                        
                    </div> <!-- Fin logo-->
                
                    <!--Nom du site-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">                   
                        <h1 class="">JoBoardSearch</h1>
                    </div> <!-- FIN Grid column nom du site-->
                    
                    <!--slogan-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">                    
                        <h5 class="">slogan: bla bla bla</h5>
                   </div> <!-- Fin slogan-->

                </div> <!--Fin row-->      
            </div> <!-- Fin container entete-->                
        </div> <!-- Fin entete global -->

    <!-- barre de avigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg_gris">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                Menu
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                       <a class="nav-link" href="{{ path('cards') }}">Tableau de bord <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('cards_synthese') }}">Récapitulatif</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Notification</a>
                    </li>
                </ul>
                <li class="nav-item dropdown form-inline pr-5 my-lg-0">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mon compte
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <a class="dropdown-item" href="{{ path('utilisateur') }}">Profil</a>
                    <a class="dropdown-item" href="#">cv</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('app_logout') }}"> Déconnexion</a>
                    
                    </div>
                </li>
            </div>
        </nav>
{% endblock %}
<h1 class="text-center">Votre candidature</h1>
<a href=" {{ path('cards') }} " class="button button-gradient">retour</a>
<section class="container bg-light rounded p-2 ">
    
  
    <table class="table border ">
        <tbody>
            <tr class="table-danger">
                <th>réference candidature</th>
                <td>{{ card.id }}</td>
            </tr>
            <tr class="table-warning">
                <th>Status_card</th>
                <td>{{ card.statusCard }}</td>
            </tr>
            <tr class="table-secondary">
                <th>Titre</th>
                <td>{{ card.titre }}</td>
            </tr>
            <tr class="table-secondary" >
                <th>Description</th>
                <td>{{ card.description }}</td>
            </tr>
            <tr class="table-secondary" >
                <th>Ville</th>
                <td>{{ card.ville }}</td>
            </tr>
            <tr class="table-secondary">
                <th>Telephone</th>
                <td>{{ card.telephone }}</td>
            </tr>
            <tr class="table-secondary">
                <th>Email</th>
                <td>{{ card.email }}</td>
            </tr>
            <tr class="table-info">
                <th>Date de création</th>
                <td>{{ card.createdAt ? card.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            
        </tbody>
    </table>

  

    <a href="{{ path('card_edit', {'id': card.id}) }}" class="button button-gradient">modifier</a>
                                    
                               
  
</section>
</div>
{% endblock %}
