{% extends 'base-accueil-calendar.html.twig' %}



{% block body %}

   <div class="wrapper">
            <main>
                <div class="hero" id="home">
                    <div class="containerP">
                        <div class="clip-path-div">
                            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
                            </svg>
                        </div>
                        <div class="main-heading" data-aos="fade-up">
                            <h1 class="title">JoboardSearch</h1>
                            <h2 class="subtitle">Créez vos opportunités d'emploi</h2>
                        </div>
                    </div>
                </div>

                <section class="booking" id="concept">
                    <div class="containerP">
                        <h5 class="section-header">
                            <span class="heading">optimisez vos recherches</span>
                            <span class="sub-heading">gérez et visulalisez vos offres d'emploi, stage & alternance.</span>
                        </h5> 
                        <p class="booking-paragraph">
                            Pour cela rien de plus simple! Grâce à son systhème drag & drog organisez vos candidatures en un glissement de souris. La gestion, le suivi et la planification de celles-ci sont devenu un jeu d'enfant.
                       </p>     
                    </div>
                </section>
                <section class="jobsearch" id="jobsearch">
                    <div class="containerP">
                       
                        <div class="overlay">
                            <div class="box-1" data-aos="fade-right"></div>
                            <div class="box-2" data-aos="fade-right" data-aos-delay="400"></div>
                            <div class="box-3" data-aos="fade-right" data-aos-delay="600"></div>
                            <div class="box-4" data-aos="fade-right" data-aos-delay="800"></div>
                        </div>

                        <div class="jobsearch-title" data-aos="fade-left" data-aos-delay="900">
                            <h2><span>Job</span>oard</h2>
                        </div>
                    </div>
 
                </section>

                <section class="subscribed" id="subscribed">
                    <div class="containerP">
                       
                        <h5 class="section-header">
                            <span class="heading">Lancez-vous</span>
                            <span class="sub-heading">c'est totalement gratuit, rapide et simple d'utilisation!</span>
                        </h5>
                        
                        <div class="grid">

                            <div class="grid-item featured-subscribed" data-aos="zoom-in" data-aos-delay="400">
                                <img src="{{ asset('img/souscrire.jpg') }}" alt="photo etiquette page" class="subscribed-image">
                                <h5 class="subscribed-name">Inscription</h5>
                                
                                <div class="subscribed-rating">
                                  <p>Accès en quelques clics</p>
                                </div>
                                <a href="{{ path('app_register') }}" class="button button-gradient">C'est parti
                                    
                                </a>
                            </div>    



                            <div class="grid-item featured-subscribed " data-aos="zoom-in">
                                <img src="{{ asset('img/login.jpg') }}" alt="" class="subscribed-image">
                                <h5 class="subscribed-name">Deja inscrit?</h5>
                                
                                <div class="subscribed-rating">
                                    <p>Accèder à mon espace</p>
                                </div>
                                <a href="{{ path('app_login') }}" class="button button-gradient">connexion
                                    
                                </a>
                            </div>   
                        </div>
                    </div>
                  
                </section>

                <section class="about" id="about">
                    <div class="containerP">
                        <h5 class="section-header">
                            <span class="heading">jobsearch</span>
                            <span class="sub-heading">voici les principaux sites d'offres actuels </span>
                            <p class="sub-heading"> mais n'oubliez pas les réseaux sociaux et osez les candidatures spontanées</p>

                        </h5>

                        <div class="slider">
                            <div class="slide slide-1" data-aos="fade-right">
                                <div class="slide-text">
                                  <p class="testimonial-text">
                                    “ Êtes-vous à la prochaine étape de votre carrière ? Sur Indeed, accédez à des millions d'offres demploi. Nous pouvons vous aider avec nos outils de recherche d'emploi, CV et des avis.”
                                  </p> 
                                  <p class="author-text">Indeed</p>
                                  <a href="https://fr.indeed.com/" class="button button-gradient">J'y vais</a>
                                </div>
                                <div class="slide-img" data-aos="fade-left">
                                  <img src="{{ asset('img/Indeed.png') }}" alt=" photo indeed page d'accueil">
                                </div>
                            </div>

                            <div class="slide slide-2">
                                <div class="slide-text">
                                  <p class="testimonial-text">
                                    “le guide qui vous accompagne dans votre recherche d'emploi : découvrez en photos et vidéos la culture des meilleures entreprises où postuler. Toutes leurs offres d'emploi CDI et CDD, stage, apprentissage et alternance.”
                                  </p>
                                  
                                  <p class="author-text">Welcome to the Jungle</p>
                                  <a href="https://www.welcometothejungle.com/fr" class="button button-gradient">J'y vais</a>

                                </div>
                                <div class="slide-img">
                                  <img src="{{ asset('img/welcomeToTheJungle.png') }}" alt="img">
                                </div>
                            </div>

                            <div class="slide slide-3">
                                <div class="slide-text">
                                  <p class="testimonial-text">
                                    “ En grande école ou université ? Découvrez les entreprises en vidéo, échangez en live avec les recruteurs, et postulez à leurs offres de stage, d'emploi ou d'alternance.”
                                  </p>
                                  <p class="author-text">Jobteaser</p>
                                  <a href="https://www.jobteaser.com/fr" class="button button-gradient">J'y vais</a>
                                </div>
                                <div class="slide-img">
                                  <img src="{{ asset('img/JobTeaser.png') }}" alt="photo accueil Jobteaser">
                                </div>
                            </div>

                            <div class="slide slide-4">
                                <div class="slide-text">
                                  <p class="testimonial-text">
                                    “Lesjeudis.com - 1er site d'emploi informatique. Plus de 5000 offres d'emploi et plus de 1000 entreprises. ”
                                  </p>
                                  <p class="author-text">Lesjeudis.com</p>
                                  <a href="https://www.lesjeudis.com/" class="button button-gradient">J'y vais</a>
                                </div>
                                <div class="slide-img">
                                  <img src="{{ asset('img/LesJeudis.png') }}" alt="photo accueil lesjeudis.com">
                                </div>
                            </div>
                            <div class="slide slide-5">
                                <div class="slide-text">
                                  <p class="testimonial-text">
                                    “Trouver un stage, une alternance, un job étudiant, un emploi ou même une formation. Studl facilite les relations entre étudiant, école et recruteur.”
                                  </p>
                                  <p class="author-text">Studl.com </p>
                                  <a href="https://studl.com/" class="button button-gradient">J'y vais</a>
                                </div>
                                <div class="slide-img">
                                  <img src="{{ asset('img/Studl.png') }}" alt="photo accueil de studl.com">
                                </div>
                            </div>
                            <div class="buttons-slider">
                                <div class="next"></div>
                                <div class="prev"></div>
                            </div>
                        </div>
                    </div>
                </section>

            </main>
        </div>


{% block javascripts %}
<script>
$(document).ready(function() {
    

    //Initialisation AOS
    AOS.init({
        easing: 'ease',
        duration: 2000,
        once: true
    });
});



/* Slider */
const next = document.querySelector('.next');
const prev = document.querySelector('.prev');
const slides = document.querySelectorAll('.slide');

let indexS = 0;
display(indexS);
function display (indexS) {
	slides.forEach((slide) => {
		slide.style.display = 'none';
	});
	slides[indexS].style.display = 'flex';
};

function nextSlide () {
	indexS++;
	if (indexS > slides.length - 1) {
		indexS = 0;
	}
	display(indexS);
};

function prevSlide () {
	indexS--;
	if (indexS< 0) {
		indexS = slides.length - 1;
	}
	display(indexS);
};

next.addEventListener('click', nextSlide);
prev.addEventListener('click', prevSlide);

</script>
{% endblock javascripts %}

{% endblock %}
