{% extends 'base.html.twig' %}




{% block body %}

<main class="container-fluid">
    <div class="global column">

        <div id="descriptif" class="row text-center mt-5">  
            <div class="col content ct1 shadow p-3 mb-5 bg-white rounded">
                <p id="descript" class="pt-5"> Avec JoBoardSearch, <br> la recherche d'emploi et de stage <br> n'a jamais été aussi simple.<br>Grâce à son systheme drag n drog, <br> la gestion des candidatures, la planification des entretiens <br> sont devenu un jeu d'enfant.</p>
            </div>

            <div class="col illustration shadow  bg-white rounded ">
                <img src="{{ asset('img/dashboard.jpg') }}" alt="illustration"> 
            </div>
        </div>

        <div id="connection" class="row text-center mt-5 mb-5">  
            
            <a class="col content ct3 shadow p-3 mb-5 bg-white rounded" href="{{ path('app_login') }}">             
                <div class="col content pt-5 ">
                    <h1> J'ai déjà un compte  </h1> 
                    <h3>Connectez-vous</h3>
                    <img class="img-connect" src="{{ asset('img/connect.png') }}" alt="connection">
                </div>
            </a> 

            <a class="col ct4 content shadow p-3 mb-5 bg-white rounded" href="{{ path('app_register') }}"> 
                 <div class="col content p-5 ">
                    <h1> Je n'ai pas de compte </h1>
                    <h3> Inscrivez-Vous <br> En 2 clics, simple, rapide et gratuit !</h3>
                    <img class="img-chrono"src="{{ asset('img/chrono.png') }}" alt="inscription">
                </div>
             </a> 
        </div>
       
        
        
    </div> <!--Fin Global--> 
</main> <!--Fin main--> 


{% endblock %}
