<!DOCTYPE html>
<html>
    <head>
            <meta charset="UTF-8">
          
             <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
             <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
             integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
             <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
            
             <title>{% block title %}Joboardsearch{% endblock %}</title>
            
            {% block stylesheets %}{% endblock %}
            <link rel="stylesheet" href="{{asset('css/base_style.css')}}">  
        
           
            {# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> #}
            <script src="https://code.jquery.com/jquery-3.5.1.min.js"crossorigin="anonymous"></script>    
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>      
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>    
            
            {% block javascripts %}{% endblock %}
            
    </head>

    <body>
 
    {% if noNavbar is not defined %}
       {{include('header-nav.html.twig')}} 
        
    {% endif %}        

    {% block body %} {% endblock %}
        


        <!-- Footer -->
    {% block footer %}
    <footer class="footer-bg">
    
        <!-- Grid container -->
        <div class="container p-4 ">

                <div class=" d-flex  justify-content-center flex-wrap">

                         <!--Grid column 1-->
                            <div class="col-lg-4 col-md-6 mb-2">
                                    <h5 class="text-uppercase text-center ">Plan du site</h5>

                                    <ul class="list-unstyled mb-0 text-center ">
                                        {% if app.user %}
                                        <li>
                                            <a href="{{ path('cards') }}" class="text-dark">Joboard</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('cards_synthese') }}" class="text-dark">Synthèse</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('calendar_user') }}">Calendrier</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('utilisateur') }}">Mon profil</a>
                                        </li>
                                        {% else %}
                                        <li>
                                            <a href="#" class="text-dark">Accueil</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_register') }}" class="text-dark">Inscription</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_login') }}">Connexion</a>
                                        </li>
                                        
                                        {% endif %}
                                        
                                        

                                    </ul>
                            </div> <!-- Fin Grid column 1-->
            
                            <!--Grid column 2-->
                            <div class="col-lg-4 col-md-6 mt-2 ">
                                    <h5 class="text-uppercase text-center">Social Network</h5>

                                        <ul class="list-unstyled mb-0 text-center">
                                            <li>
                                                <a href="https://fr-fr.facebook.com/" target="_blank" class="text-dark"> Facebook </a>
                                            </li>
                                            <li>
                                            <a href="https://fr.linkedin.com/" target="_blank" class="text-dark"> Linkdin</a>
                                            </li>
                                            <li>
                                            <a href="https://www.instagram.com/?hl=fr" target="_blank" class="text-dark"> Instagram </a>
                                            </li>                
                                        </ul>
                            </div> <!-- FIN Grid column 2-->

                            <!--Grid column 3-->
                            <div class="col-lg-4 col-md-6 mt-2">
                                <h5 class="text-uppercase text-center">Les donneés</h5>
                                <ul class="list-unstyled mb-0 text-center">
                                    <li>
                                        <a href="#!" class="text-dark"> RGPD </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('contact') }}" class="text-dark">Contact</a>
                                    </li>               
                                </ul>
                            </div> <!-- Fin Grid column 3-->
                

                
                </div> <!--Grid row-->
            
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3 copyright">
            <span> © 2020 Copyright: Sihem, Nathalie & Sahby</span>
        </div> <!-- Fin Copyright -->
        
    </footer> <!-- Fin Footer -->

    {% endblock %}      
        
    </body>
</html>

 
